<section class="property-binding">

  <article>
    <h3>Interporlation / Interpolação</h3>
    <p>String renderizada com interpolação {{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
    <p>Curso de Angular e curtir curso: {{ cursoAngular && getCurtirCurso()}}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img src="{{urlImagem1}}">
    <img [src]="urlImagem2">
    <img bind-src="urlImagem3">



  </article>

</section>
